<div class="event-list js-event-list">
    <h3 class="event-list__title">{{ title }}</h4>
    <div class="{{ class }}"></div>
    <button class="event-list__cta button button-highlight">{{ 'View timelines'|t }}</button>
</div>
