<footer id="footer" role="contentinfo" >
    <a href="#" class="js-oiko-app--toggle oiko-app--toggle" title="toggle between timeline and map view"><span class="toggle-to-map"><i class="fa fa-map-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span><span class="toggle-to-timeline"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-tasks"></i></span><span class="show-for-sr">toggle between timeline and map view</span></a>
    {{ page.footer }}
    <div class="clearfix footer footer--lower">
        <div class="footer__inner l-content-grid-container">
            <div class="footer--lower__copyright">

                <a href="http://warwick.ac.uk" target="_blank">
                    <img src="/themes/custom/oiko/images/warwick_white.svg" class="warwick_logo" alt="&copy; University of Warwick" title="&copy; University of Warwick">
                </a>
            </div>
        </div>
    </div>
</footer>
