<footer id="footer" role="contentinfo" >
    {{ page.footer }}
    <div class="footer clearfix footer--upper">
        <div class="footer__inner l-content-grid-container">

        </div>
    </div>
    <div class="clearfix footer footer--lower">
        <div class="footer__inner l-content-grid-container">
            <div class="footer--lower__copyright">
                Oikoumene - Warwick University
            </div>
            <div class="footer--lower__menu">{{ page.footer_lower }}</div>
        </div>
    </div>
</footer>
