<header role="banner" class="clearfix navigation-bar">
    <div class="navigation-bar--center site-slogan heading-style-h1"><a href="/">Oikoumene</a></div>
    <a href="#" class="oiko-app--toggle">Toggle Map / Timeline</a>
</header>
