<header role="banner" class="clearfix navigation-bar">
    <div class="navigation-bar--center site-slogan heading-style-h1"><a href="/">Oiko<br>world</a></div>
    <p>
      <a class="button button-highlight" data-open="block-welcomeblock">Show the welcome modal.</a>
    </p>
</header>
