<header role="banner" class="clearfix navigation-bar">
    <div class="navigation-bar--center site-slogan heading-style-h1"><a href="/"><span class="first">Oiko</span><br><span class="second">.world</span></a></div>
    <p>
      <a class="button button-highlight" data-open="block-welcomeblock">Show the intro modal.</a>
    </p>
</header>
