<div class="l-sidebar-content sidebar-content">
  <div class="sidebar-pane" data-pane-id="main-menu">
    <div class="sidebar-close close-button"><span aria-hidden="true">&times;</span></div>
    {{ page.primary_menu }}
    {{ page.secondary_menu }}
  </div>
  <div class="sidebar-pane with-padding" data-pane-id="legend">
    <div class="sidebar-close close-button"><span aria-hidden="true">&times;</span></div>
    {{ page.sidebar_legend }}
  </div>
  <div class="sidebar-pane with-padding" data-pane-id="information">
    <div class="sidebar-close close-button"><span aria-hidden="true">&times;</span></div>
    <div class="sidebar-information-content-content"></div>
  </div>
</div>
