<div class="l-sidebar-content sidebar-content">
  <div class="sidebar-pane" data-pane-id="main-menu">
      {{ page.primary_menu }}
      {{ page.secondary_menu }}
  </div>
  <div class="sidebar-pane" data-pane-id="legend">
      {{ page.sidebar_legend }}
  </div>
  <div class="sidebar-pane" data-pane-id="information">
    <div class="sidebar-information-content-content"></div>
  </div>
</div>