<div class="l-sidebar-content sidebar-content">
  <div class="sidebar-pane" data-pane-id="main-menu">
      {{ page.primary_menu }}
      {{ page.secondary_menu }}
  </div>
  <div class="sidebar-pane" data-pane-id="legend">
    LEGEND
  </div>
  <div class="sidebar-pane" data-pane-id="information">
    <h1 class="sidebar-information-content-title">Title</h1>
    <div class="sidebar-information-content-content">Content</div>
  </div>
</div>