.fg-lifespan {
  @include span(12 of 12);
  
  padding: 1em 0;
  border-bottom: 2px solid $black;
}
.fg-lifespan > div {
  @include span(6 of 12);
}


.cidoc-entity--inline {
  div {
    display: inline;
  }

  .cidoc_reference {
    margin-left: 1em;

    .field__label {
      @include visually-hidden();
    }
  }
}