.fg-lifespan {
  @include span(12 of 12);
  
  padding: 1em 0;
  border-bottom: 2px solid $black;
}
.fg-lifespan > div {
  @include span(6 of 12);
}


.cidoc-entity--inline {
  div {
    display: inline;
  }

  .cidoc_reference {
    margin-left: 1em;

    .field__label {
      @include visually-hidden();
    }
  }
}

.subtitle {
  display: flex;
  align-items: center;
  margin-bottom: $global-margin;
  color: palette(oikoblue);

  > div {
    padding-right: $global-padding;
    flex-grow: 0;

    &:last-child {
      padding-right: 0;
    }
  }

  > .last {
    flex-grow: 1;
    text-align: right;
  }

  @each $size, $headers in $header-sizes {
    @include from($size) {
      @each $header, $font-size in $headers {
        @if $font-size = 'h2' {
          font-size: rem-calc($font-size, map-get($base-font-sizes, $size));
        }
      }
    }
  }
}

.add-event-basket-link {
  font-size: 35px;
}
