.comparative-timeline-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: palette(oikocream);
  height: 100%;

  .vis-item {
    height: 14px;
    cursor: pointer;
    font-family: $small-copy-font-family;
    .vis-item-overflow {
      overflow: hidden;
      font-size: 12px;
      line-height: 12px;
      .vis-item-content {
        padding: 1px 5px;
      }
    }
  }

  .vis-labelset .vis-label .vis-inner {
    min-height: 150px;
    max-width: 160px;
  }

  // Styling of the different classifications of items.
  .oiko-timeline-item--blue {
    @include timeline-item(palette(blue));
  }

  .oiko-timeline-item--green {
    @include timeline-item(palette(green));
  }

  .oiko-timeline-item--purple {
    @include timeline-item(palette(purple));
  }

  .oiko-timeline-item--red {
    @include timeline-item(palette(red));
  }

  .oiko-timeline-item--turquoise {
    @include timeline-item(palette(turquoise));
  }

  .oiko-timeline-item--yellow {
    @include timeline-item(palette(yellow));
  }
}

.comparative-timeline__inner {
  flex-grow: 1;

  .vis-time-axis.vis-foreground {
    border-bottom: 2px solid palette(black);
    z-index: 2;

    $dot-size: 6px;
    &:before {
      content: "";
      position: absolute;
      bottom: -$dot-size;
      left: -$dot-size;
      height: 0;
      width: 0;
      border: $dot-size solid palette(black);
      border-radius: $dot-size;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -$dot-size;
      right: -$dot-size;
      height: 0;
      width: 0;
      border: $dot-size solid palette(black);
      border-radius: $dot-size;
    }
  }
  .vis-panel.vis-center {
    border-top: none;
  }
}

.comparative-timeline__header {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;

  .leaflet-searchBox {
    height: $sidebar-header-height;
  }

  .loading-graphic {
    position: absolute;
    top: ($sidebar-header-height - $ajax-loading-graphic-size) / 2;
    right: ($sidebar-header-height - $ajax-loading-graphic-size) / 2 + 5px;
  }
}

.comparative-timeline__footer {
  min-height: 25px;
  flex-grow: 0;
  flex-shrink: 0;

  .vis-item.vis-background {
    background-color:  rgba(palette(oikotan), 0.1);
    border: none;

    // Style the current window bar
    &.currentWindow {
      background-color: transparent;
      border-bottom: 3px solid palette(black);
      z-index: 2;

      $dot-size: 6px;
      &:before {
        content: "";
        position: absolute;
        bottom: -$dot-size;
        left: -$dot-size;
        height: 0;
        width: 0;
        border: $dot-size solid palette(black);
        border-radius: $dot-size;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: -$dot-size;
        right: -$dot-size;
        height: 0;
        width: 0;
        border: $dot-size solid palette(black);
        border-radius: $dot-size;
      }
    }
  }


}

.js-loading-graphic--comparative-timeline-working {
  display: inline !important;
}

.js-comparative-timeline-remove-link {
  cursor: pointer;
}

.comparative-timeline-preselections-wrapper .header {
  text-align: center;
  margin: $global-margin;
}
.comparative-timeline-preselections {
  display: flex;
  justify-content: center;
}

.comparative-timeline--preselect-link {
  width: 200px;
  padding: $global-padding;
  text-align: center;
  display: block;
  text-decoration: none;

  .timeline-logo {
    margin-bottom: $global-margin;
  }
}

