.oiko-app--timeline {
  //overflow-y: scroll;
  display: flex;
}

.comparative-timeline-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  background-color: palette(oikocream);

  .subtitle {
    @each $size, $headers in $header-sizes {
      @include from($size) {
        @each $header, $font-size in $headers {
          @if $header == 'h5' {
            font-size: rem-calc($font-size, map-get($base-font-sizes, $size));
          }
        }
      }
    }
  }

  .vis-item {
    height: 16px;
    cursor: pointer;
    font-family: $small-copy-font-family;
    .vis-item-overflow {
      overflow: hidden;
      font-size: 12px;
      line-height: 12px;
      .vis-item-content {
        padding: 1px 5px;
      }
    }
  }

  .vis-labelset .vis-label .vis-inner {
    min-height: 150px;
    max-width: 160px;
  }

  // Styling of the different classifications of items.
  .oiko-timeline-item--blue {
    @include timeline-item(palette(blue));
  }

  .oiko-timeline-item--green {
    @include timeline-item(palette(green));
  }

  .oiko-timeline-item--purple {
    @include timeline-item(palette(purple));
  }

  .oiko-timeline-item--red {
    @include timeline-item(palette(red));
  }

  .oiko-timeline-item--turquoise {
    @include timeline-item(palette(turquoise));
  }

  .oiko-timeline-item--yellow {
    @include timeline-item(palette(yellow));
  }
}

.comparative-timeline__inner {
  flex-grow: 1;
  min-height: 0;
  overflow-y: scroll;
}

.comparative-timeline__header {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
}

.comparative-timeline__footer {
  min-height: 25px;
  flex-grow: 0;
  flex-shrink: 0;

  .vis-timeline {
    border: none;
    box-shadow: none;
  }

  .vis-item.vis-background {
    background-color:  rgba(palette(oikotan), 0.1);
    border: none;
  }

  // Style the current window bar
  .currentWindow {
    border: none;
    background-color: rgba(palette(oikogrey), 0.5);
    height: 40px;

    .vis-drag-left,
    .vis-drag-right {
      background-color: palette(oikogrey);
    }
  }


}

.js-loading-graphic--comparative-timeline-working {
  display: block !important;
}

.js-comparative-timeline-remove-link {
  cursor: pointer;
}


.comparative-timeline-preselections-wrapper .header {
  text-align: center;
  margin: $global-margin;
}
.comparative-timeline-preselections {
  display: flex;
  //justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;

  .smaller {
    font-size: 80%;
  }
}

.comparative-timeline--preselect-link {
  background-color: darken(palette(oikocream), 10%);
  width: 200px;
  padding: $global-padding;
  text-align: center;
  display: block;
  text-decoration: none;
  margin: 0 $global-margin/2 $global-margin;

  .timeline-logo {
    margin-bottom: $global-margin;
  }

  &:hover {
    .button {
      background-color: palette(oikotan);
      border-color: palette(oikotan);
    }

  }
}

