.footer {
  background-color: palette(oikoblue);
  color: #FFF;
  padding-top: $global-padding;
  padding-bottom: $global-padding;

  a {
    text-decoration: none;
  }
}

.footer--lower {
  background-color: palette(oikoblue);
  padding: 10px 0;
  font-size: 12px;
  text-align: center;
}
