
.forum--author-picture img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.sidebar-content .forum {
  border: none;
}

.page--iframe .forum-post .forum-related-to {
  display: none
}

.forum--footer {
  display: flex;
  margin-bottom: 0;
  border-bottom: 0;

  article {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: $global-margin;
  }

  > div {
    flex-grow: 1;
  }
}

.forum--content ul.links {
  margin-left: -$global-margin;
  margin-right: -$global-margin;
  padding: $global-margin;
  margin-bottom: 0;
  margin-top: $global-margin;
  padding-bottom: 0;
  border-top: $callout-border;
}


.forum-post article {
  margin-bottom: $global-margin;

  &.forum--author-picture {
    margin-bottom: 0;
  }
}
