.icon-links {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: flex-end;
}

.icon-links__item {

}

.icon-links__link {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  width: 50px;
  i.fa {
    font-size: 25px;
    vertical-align: middle;
  }
  &:hover,
  &.hover {
    background: palette(oikoblue);
    color: palette(oikocream);
  }
}

.icon-links__dropdown {
  top: initial !important;
  left: initial !important;
  right: 0 !important;
  z-index: 10000;
  border: none;
  border-top: 5px solid palette(oikoblue);
}