.searchContainer {
  clear: right;
}

.leaflet-searchBox {
  width: 310px;
  height:46px;
  border: none;
  margin-left: 10px;
  overflow: hidden;
  outline: none;
}

.leaflet-searchButton {
  background:url('../images/search_double.png') no-repeat;
  cursor:pointer;
  width: 24px;
  height: 24px;
  border: none;
  background-color: white;
  outline: none;
  vertical-align: middle;
}

.leaflet-searchButton:hover {
  background:url('../images/search_double.png') no-repeat -24px 0px;
}

.leaflet-clearButton {
  background:url('../images/clear_multiple.png') no-repeat;
  cursor:pointer;
  width: 24px;
  height: 24px;
  border: none;
  background-color: white;
  outline: none;
  margin-left: 10px;
  vertical-align: middle;
}

.leaflet-clearButton:hover {
  background:url('../images/clear_multiple.png') no-repeat -24px 0px;
}

.leaflet-divider {
  width: 24px;
  border-left: solid 1px lightgrey;
  margin-left: 10px;
}

.leaflet-result {
  background-color: white;
}

.leaflet-result-list {
  list-style-type:none;
  padding-left:0;
  margin: 0;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;

  -moz-box-shadow: 2px 2px 2px -2px gray;
  -webkit-box-shadow: 2px 2px 2px -2px gray;
  box-shadow: 2px 2px 2px -2px gray;
}

.leaflet-result-list-item {
  background-color: white;
  height: 38px;
  margin-bottom: 0px;
  border-top: 1px solid #e6e6e6;
}

.leaflet-result-list-item.active {
  background-color: lightskyblue;
}

.leaflet-result-list-item.mouseover {
  background-color: lightgrey;
}

.leaflet-iconStyle {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  vertical-align: middle;
}

.leaflet-result-list-item .content {
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 38px;
  width: 310px;
  line-height:38px;
}

.leaflet-result-list-item .title {
  margin-left: 10px;
  line-height:38px;
}