.leaflet-full-height {
  flex-grow: 1;
}
.leaflet-top {
  z-index: 100;
}
.l-map-wrap {
  position: relative;

  & >.js-map-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10000;
    background-color: rgba(palette(grey, light), 0.5);

    &::after {
      content: "Please wait while we fire up the history engines...";
      top: 50%;
      left: 0;
      right: 0;
      text-align: center;
      position: absolute;
    }
  }
}


