
.loading-graphic {
  background-image: url('../images/ajax-loader.gif');
  background-repeat: no-repeat;
  padding-left: $ajax-loading-graphic-size + 20px;
  margin: $global-margin/2 $global-margin;
  min-height: $ajax-loading-graphic-size;
  line-height: $ajax-loading-graphic-size;
  display: none;
}