.navigation-bar {
  background-color: palette(grey);
  color: #FFF;
  padding-top: $global-padding;
  padding-bottom: $global-padding;

  a {
    text-decoration: none;
  }
  text-align: center;
  border-bottom: 5px solid palette(tan);
}

.navigation-bar--center {

  text-transform: uppercase;
  display: inline-block;
  background: url('../images/globe.png') no-repeat left center;
  padding-left: 45px;
  background-size: 35px;

}