.navigation-bar {
  background-color: palette(grey);
  color: #FFF;
  padding: $global-padding;

  line-height: 2em;

  a {
    text-decoration: none;
  }
  text-align: center;
  text-transform: lowercase;
}
