.l-content-header-search {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.main-search-outer-wrapper {
  flex-grow: 1;
}

.main-search-wrapper {
  height: 100%;
  width: 100%;
  max-width: 425px;
  position: relative;
  display: inline-block;
  margin: 0 $global-margin;
  text-align: left;
  color: palette(black);
  @include to('s') {
    margin: 0;
    max-width: none;
  }
}

.main-search-box {
  width: 100%;
  height: 100%;
  padding: 6px $global-padding;
  margin: 0;
}

.main-search-submit {
  font-family: 'FontAwesome';
  width: 29px;
  bottom: 0;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: 0;
  background: none;
  @include to('s') {
    right: 4px;
    top: 9px;
    bottom: initial;
  }
}

@include to('s') {
  .main-search__no-results-text {
    padding: 3px 6px;
  }
}

.main-search__dropdown {
  top: initial !important;
  left: 0 !important;
  right: initial !important;
  z-index: 10000;
  border: 1px solid palette(oikoblue);
  border-top: 5px solid palette(oikoblue);
  width: 100%;
  max-width: 450px;
  @include to('s') {
    position: inherit;
    width: auto;
    max-width: none;
  }
}

.main-search__results-listing {

  list-style: none;
  margin: 0;

  li {
    border-bottom: 1px solid palette(oikogrey);
    padding: 3px 0;
    @include to('s') {
      padding: 3px 6px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .active, li:hover {
    background-color: palette(oikogrey);
    color: palette(oikocream);
  }
}
