.tabs.vertical {
  border: none;
}

.tabs {
  margin-bottom: $global-margin;
}

.tabs .tabs-title a {
  text-decoration: none;

  &:focus,
  &[aria-selected='true'] {
    color: $body-font-color;
    border-bottom: 3px solid palette(oikogrey);
  }

  &:hover {
    color: $body-font-color;
    border-bottom: 3px solid palette(oikogreen);
  }
}

.tabs.vertical .tabs-title {
  border-bottom: 1px solid $light-gray;

  &:last-child {
    border-bottom: none;
  }

  > a {
    padding: 1.25rem 1.5rem;
    &:hover {
      border-bottom: none;
    }

    &:focus,
    &[aria-selected='true'] {
      border-bottom: none;
    }
  }
}