@function luma($c) {
  $-local-red: red(rgba($c, 1.0));
  $-local-green: green(rgba($c, 1.0));
  $-local-blue: blue(rgba($c, 1.0));

  @return (0.2126 * $-local-red  +
           0.7152 * $-local-green +
           0.0722 * $-local-blue) / 255;
}

@function pick-visible-color($bg, $c1, $c2) {
  $bg-luma: luma($bg);
  $c1-luma: luma($c1);
  $c2-luma: luma($c2);

  $c1-diff: abs($bg-luma - $c1-luma);
  $c2-diff: abs($bg-luma - $c2-luma);

  @if $c1-diff > $c2-diff {
    @return $c1;
  } @else {
    @return $c2;
  }
}

@mixin pill($color) {
  font-size: 85%;
  background-color: $color;
  color: pick-visible-color($color, #1b0906, #fefdfd);
  margin: 0.5em 0.25em;
  padding: 0.25em 0.5em;
}

.site-slogan {
  transform: rotate(90deg) translateX(-100%);
  transform-origin: bottom left;
  font-size: 24px;
  text-align: left;
  text-transform: none;
  margin-bottom: 75px;
}

.contrafacta-wrapper {
  margin-bottom: 2em;

  .contrafacta-wrapper__model {
    margin-left: -1rem;
    padding-left: 1rem;
    margin-right: -1rem;
    padding-right: 1rem;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(48, 48, 47, 0.25);
    margin-bottom: 1em;
    background-color: transparent !important;
  }

  .contrafacta-wrapper__detail {
    margin-bottom: 1.5em;
    background-color: transparent !important;
  }

  .contextual-region {
    background-color: transparent !important;
  }

  // Make the music icons sit inline.
  h2 > div {
    display: inline-block;
  }

  .musical-details {
    display: flex;
    > * {
      width: 50%;
    }
  }

  &:not(.contrafacta-wrapper--details-hidden) {
    .contrafacta-wrapper__toggler-show-when-hidden {
      display: none;
    }
  }
  &.contrafacta-wrapper--details-hidden {
    .contrafacta-wrapper__toggler-show-when-shown,
    .musical-details {
      display: none;
    }
  }

  .contrafacta-wrapper__toggler {
    float: right;
  }

  .cidoc_entity {
    overflow: hidden;
  }

  .contrafacta-wrapper__model-label,
  .contrafacta-wrapper__contrafacta-label {
    float: right;
    border: 1px solid #1b0906;
    font-size: 0.825rem;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 10px;
    display: inline-block;
    &[title] {
      text-decoration: underline dotted rgba(#1b0906, 0.5);
    }

  }
}


.medmus-leaflet-marker-work {
  background-color: #0067A3;
  border: 2px solid #303030;
  border-radius: 50%;
  i.awesome {
    margin: 4px 3px;
    font-size: 16px;
    color: #fbfbfb;
  }
}

.medmus-leaflet-marker-work-upside-down {
  &:before {
    content: "";
    height: 30px;
    width: 30px;
    margin-top: 21.2132034356px - 15px;
    display: block;
    background-color: #0067A3;
    border: 2px solid #303030;
    border-radius: 0 50% 50% 50%;
    transform: rotate(45deg);
  }
  i.awesome {
    position: absolute;
    top: 12px;
    left: 5px;
    font-size: 16px;
    color: #fbfbfb;
  }
}
