@import "settings";

@mixin in-small-layout {
  @include to(prev-slice($layout-switch)) {
    @content
  }
}

@mixin in-large-layout {
  @include from($layout-switch) {
    @content
  }
}

@mixin hide-in-small-layout {
  @include in-small-layout {
    display: none !important;
  }
}

@mixin hide-in-large-layout {
  @include in-large-layout {
    display: none !important;
  }
}

// This is a mixin for providing the 'default' full page grid container eg. if
// you have a full bleed row, and need content within it to have a max-width.
@mixin content-grid-container {
  @include container();
  box-sizing: content-box;
  padding-left: gutter();
  padding-right: gutter();
}

@mixin visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

@function luma($c) {
  $-local-red: red(rgba($c, 1.0));
  $-local-green: green(rgba($c, 1.0));
  $-local-blue: blue(rgba($c, 1.0));

  @return (0.2126 * $-local-red  +
           0.7152 * $-local-green +
           0.0722 * $-local-blue) / 255;
}

@function pick-visible-color($bg, $c1, $c2) {
  $bg-luma: luma($bg);
  $c1-luma: luma($c1);
  $c2-luma: luma($c2);

  $c1-diff: abs($bg-luma - $c1-luma);
  $c2-diff: abs($bg-luma - $c2-luma);

  @if $c1-diff > $c2-diff {
    @return $c1;
  } @else {
    @return $c2;
  }
}

@mixin timeline-item($color) {
  background-color: rgba($color, .7);
  border-color: rgba($color, 1);
  color: pick-visible-color($color, $body-font-color, $white);
  &.vis-selected {
    background-color: rgba(palette(oikotan), .7);
    border-color: rgba(palette(oikotan), 1);
    color: pick-visible-color(palette(oikotan), $body-font-color, $white);
    font-weight: bold;
  }
}

@mixin basepill($background_color, $text_color) {
  font-size: $small-font-size;
  background-color: $background_color;
  color: $text_color;
  margin: 0.5em 0.25em;
  padding: 0.25em 0.5em;
}

@mixin pill($color) {
  @include basepill($color, pick-visible-color($color, $body-font-color, $white));
}

@mixin category-pill($color) {
  @include pill($color);
  margin-left: 0;
  display: inline-block;
}

@mixin category-pill-transparent {
  @include basepill(transparent, $body-font-color);
  margin-left: 0;
  display: inline-block;
}
