<div class="comparative-timeline-container js-comparative-timeline-container">
    <div class="js-comparative-timeline-add-new comparative-timeline__header">
        <span class="loading-graphic js-loading-graphic"></span>
    </div>
    <div class="js-comparative-timeline comparative-timeline__inner"></div>
    <div class="comparative-timeline__footer js-comparative-timeline-overview">
    </div>
</div>
{{ js }}

