<div class="comparative-timeline-container js-comparative-timeline-container">
    <div class="js-comparative-timeline-add-new comparative-timeline__header">
        <span class="loading-graphic js-loading-graphic"></span>
    </div>
    <div class="js-comparative-timeline"></div>
</div>
{{ js }}

