{{ sidebar }}

<div class="comparative-timeline-container"><div class="timeline-wrapper"></div>
    <div id="timeline-js-wrapper" class="timeline-js-wrapper"></div>
    <div class="places-wrapper">
    </div>
</div>