@import "../base/global";

body {
  display: flex;
  flex-direction: column;
}

.l-main {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.l-map-wrap {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

// 'Main' layout
// --------------
// Used by default to layout the sidebars and main content on a
// 12 column grid, in the default page.tpl.php

.l-content-grid-container {
  @include content-grid-container;
}

.l-full {
  @include full();
}

.l-last {
  @include last();
}

// On smaller screens, we put everything in a single column.
@include in-small-layout {
  .l-main-content,
  .l-sidebar-first,
  .l-sidebar-second {
    @include full();
  }
}

// On larger screens, we go multi-column.
@include in-large-layout {
  .l-sidebar-first {
    @include span(3);
  }
  .l-sidebar-second {
    @include span(3);
  }
  .l-has-no-sidebars .l-main-content {
    @include full();
  }
  .l-has-both-sidebars .l-main-content {
    @include span(6);
  }
  .l-has-sidebar-first .l-main-content {
    @include span(9);
  }
  .l-has-sidebar-second .l-main-content {
    @include span(9);
  }
  .l-half {
    @include span(6 of 12);
  }
  .l-col-7 {
    @include span(7 of 12);
  }
  .l-col-5 {
    @include span(5 of 12);
  }
}


// Equal height columns
// --------------------

// Helper to equalise the height of child elements, if we're laying things out
// in multiple columns.
.l-equal-heights {
  @include in-large-layout {
    display: flex;
  }
}
