@media screen and (min-width: 26.1875em) {
#block-welcomeblock {
  background:url("../images/michael_scott_network_welcome_background.jpg") no-repeat top 4.4em left 0;
  background-size: 670px;
  background-color: palette(oikocream);
}

#welcometext {
  width: 50%;
  padding: 10px;
  margin-left: 50%;
  background: rgba(243, 240, 235, 0.7);
}
}