{{ attach_library('oiko_sidebar/sidebar') }}

<div id="leaflet-sidebar" class="sidebar oiko-sidebar collapsed">
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
        <ul role="tablist">
            <li><a href="#" data-pane-id="information" role="tab"><i class="fa fa-bars"></i></a></li>
            <li><a href="#" data-pane-id="discussion" role="tab"><i class="fa fa-comments"></i></a></li>
            <li><a href="#" data-pane-id="share" role="tab"><i class="fa fa-share-alt"></i></a></li>
        </ul>

        <ul role="tablist">
            <li class="active"><a href="#" data-pane-id="legend" role="tab"><i class="fa fa-map-o"></i></a></li>
        </ul>
    </div>

    <!-- Tab panes -->
    <div class="sidebar-content">
        <div class="sidebar-pane" data-pane-id="information">
            <h1 class="sidebar-header">
                <span class="sidebar-close"><i class="fa fa-times"></i></span>&nbsp;
                <span class="sidebar-information-content-title">Details</span>
            </h1>

            <div class="sidebar-information-content-content"><p>Select a item to display further information about it here.</p></div>

        </div>

        <div class="sidebar-pane" data-pane-id="discussion">
            <h1 class="sidebar-header"><span class="sidebar-close"><i class="fa fa-times"></i></span> Discussions</h1>

            <div class="sidebar-discussion-content-content"><p>Select a item to display related discussions here.</p></div>
        </div>

        <div class="sidebar-pane" data-pane-id="share">
            <h1 class="sidebar-header"><span class="sidebar-close"><i class="fa fa-times"></i></span> Share</h1>

            <div class="sidebar-share-content-content"><p>Click to share </p></div>
        </div>

        <div class="sidebar-pane active" data-pane-id="legend">
            <h1 class="sidebar-header"><span class="sidebar-close"><i class="fa fa-times"></i></span> Legend</h1>

            <div class="sidebar-legend-content-content">{{ sidebar_legend }}</div>
        </div>
    </div>
</div>
