<div class="js-oiko-app-loader oiko-app">
    <div class="oiko-app--loader"></div>
    <div class="oiko-app--timeline">
        {{ timeline }}
    </div>
    <div class="oiko-app--sidebar">
        {{ sidebar }}
    </div>
    <div class="oiko-app--map">
        {{ map }}
    </div>
</div>
{{ js }}